#page-create-orphanage{
    display: flex;
    min-height: 100vh;
}

#logo{
    width: 2.6rem;
}

main{
    flex: 1;
}

.map-container{
    margin: 0 0 2rem;
}

.map-container .leaflet-container{
    border-radius: 10px 10px 0 0;
}

.map-container footer{
    background: #f5f8fa;
    border-radius: 0 0 10px 10px;
}